
body {
    margin: 30px auto;
    width: 95%;
    background-color: #ffffff;
}

nav ul, footer ul {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
    list-style: none;
    width: 100px;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 0px;
}

a {
    text-decoration: none;
    color: #999;
    font-family: 'Roboto', sans-serif;
}

a:hover {
    background-color: #000000;
    color: white;
}

h1 {
    font-size: 1.3em;
    font-family:'Lato', sans-serif;
    margin: 3px 150px 20px;
}

h1:hover {
    background-color: #000000;
    color: white;  
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.3em;
    font-family:'Lato', sans-serif;
}


p {
    font-size: 1em;
    font-family: 'Barlow Semi Condensed', serif;
    line-height: 1em;
    color: #696969;
    margin: 0px 170px 10px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}


ul.posts { 
    margin: 20px auto 40px; 
    font-size: 0.9em;
}

ul.posts li {
    list-style: none;
}
