/* 
 *  TOC:
 *  01. fonts
 *  02. base style
 *  03. typography
 *  04. ssPreloader
 *  05. forms
 *  06. buttons
 *  07. common and reusable styles 
 *  08. header styles
 *  09. home
 *  10. about
 *  11. skills
 *  12. portfolio
 *  13. experiences
 *  14. contact
 *  15. footer
 */


/* 01. fonts */
@import url("font-awesome/css/font-awesome.min.css");
@import url("micons/micons.css");
@import url("fonts.css");


/* 02. base style */
html {
  font-size: 10px;
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 9.375px;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 9.375px;
  }
}

html,
body {
  height: 100%;
}

body {
  background: #111111; 
  font-family: "montserrat-regular", serif;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #353535;
  margin: 0;
  padding: 0;
}


/* links */
a,
a:visited {
  color: orange;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
  color: orange;
}


/* 03. typography */
h1,
h2,
h3,
h4,
h5,
h6,
.h01,
.h02,
.h03,
.h04,
.h05,
.h06 {
  font-family: "montserrat-bold", sans-serif;
  color: #151515;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin-bottom: 2.1rem;
}

h3,
.h03,
h4,
.h04 {
  margin-bottom: 1.8rem;
}

h5,
.h05,
h6,
.h06 {
  margin-bottom: 1.2rem;
}

h1,
.h01 {
  font-size: 3.1rem;
  line-height: 1.35;
  letter-spacing: -.1rem;
}

@media only screen and (max-width: 600px) {

  h1,
  .h01 {
    font-size: 2.6rem;
    letter-spacing: -.07rem;
  }
}

h2,
.h02 {
  font-size: 2.4rem;
  line-height: 1.25;
}

h3,
.h03 {
  font-size: 2rem;
  line-height: 1.5;
}

h4,
.h04 {
  font-size: 1.7rem;
  line-height: 1.76;
}

h5,
.h05 {
  font-size: 1.4rem;
  line-height: 1.7;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

h6,
.h06 {
  font-size: 1.3rem;
  line-height: 1.85;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

p img {
  margin: 0;
}

p.lead {
  font-family: "montserrat-regular", sans-serif;
  font-size: 2rem;
  line-height: 1.8;
  color: #4f4f4f;
  margin-bottom: 2.3rem;
}

@media only screen and (max-width: 768px) {
  p.lead {
    font-size: 1.8rem;
  }
}

em,
i,
strong,
b {
  font-size: 1.6rem;
  line-height: 3rem;
  font-style: normal;
  font-weight: normal;
}

em,
i {
  font-family: "montserrat-italic", serif;
}

strong,
b {
  font-family: "montserrat-bold", serif;
}

small {
  font-size: 1.1rem;
  line-height: inherit;
}

hr {
  border: solid #d2d2d2;
  border-width: 1px 0 0;
  clear: both;
  margin: 2.4rem 0 1.5rem;
  height: 0;
}


/* Lists */
ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  display: list-item;
}

ol,
ul {
  margin-left: 1.7rem;
}

ul li {
  padding-left: .4rem;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: .6rem 0 .6rem 1.7rem;
}

ul.disc li {
  display: list-item;
  list-style: none;
  padding: 0 0 0 .8rem;
  position: relative;
}

ul.disc li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #07617d;
  position: absolute;
  left: -17px;
  top: 11px;
  vertical-align: middle;
}

dt {
  margin: 0;
  color: #07617d;
}

dd {
  margin: 0 0 0 2rem;
}



/* block grids */
.bgrid {
  padding: 0 20px;
}

@media only screen and (max-width: 1024px) {
  .bgrid {
    padding: 0 18px;
  }
}

@media only screen and (max-width: 768px) {
  .bgrid {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 600px) {
  .bgrid {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 400px) {
  .bgrid {
    padding: 0;
  }
}


/* pace.js */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #F9A828;
  position: fixed;
  z-index: 900;
  top: 0;
  right: 100%;
  width: 100%;
  height: 6px;
}


/* 04. ssPreloader */
#ssPreloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0F1215;
  z-index: 800;
  height: 100%;
  width: 100%;
}

.no-js #ssPreloader,
.oldie #ssPreloader {
  display: none;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  padding: 0;
  background-color: #F9A828;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}


/* 05. forms */
fieldset {
  border: none;
}

input[type="email"],
input[type="text"],
input[type="url"],
input[type="password"],
textarea,
select {
  display: block;
  height: 6rem;
  padding: 1.5rem 2rem;
  border: 0;
  outline: none;
  color: #444444;
  font-family: "montserrat-regular", sans-serif;
  font-size: 1.4rem;
  line-height: 3rem;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.ss-custom-select {
  position: relative;
  padding: 0;
}

.ss-custom-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  margin: 0;
  line-height: 3rem;
  vertical-align: middle;
}

.ss-custom-select select option {
  padding-left: 2rem;
  padding-right: 2rem;
}

.ss-custom-select select::-ms-expand {
  display: none;
}

.ss-custom-select::after {
  content: '\f0d7';
  font-family: 'FontAwesome';
  position: absolute;
  top: 50%;
  right: 1.5rem;
  margin-top: -10px;
  bottom: auto;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 18px;
  text-align: center;
  pointer-events: none;
  color: #252525;
}


/* 06. buttons */
.button,
a.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  font-family: "montserrat-bold", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  height: 5.4rem;
  line-height: 5.4rem;
  padding: 0 3rem;
  margin: 0 .3rem 1.2rem 0;
  background: black;
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button:hover,
a.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  background: #989898;
  color: #000000;
  outline: 0;
}

.button.button-primary,
a.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  background: #151515;
  color: #FFFFFF;
}

.button.button-primary:hover,
a.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="button"].button-primary:focus {
  background: #030303;
}

button.full-width,
.button.full-width {
  width: 100%;
  margin-right: 0;
}

button.medium,
.button.medium {
  height: 5.7rem !important;
  line-height: 5.7rem !important;
  padding: 0 1.8rem !important;
}

button.large,
.button.large {
  height: 6rem !important;
  line-height: 6rem !important;
  padding: 0rem 3rem !important;
}

button.stroke,
.button.stroke {
  background: transparent !important;
  border: 3px solid #313131;
  line-height: 4.8rem;
}

button.stroke.medium,
.button.stroke.medium {
  line-height: 5.1rem !important;
}

button.stroke.large,
.button.stroke.large {
  line-height: 5.4rem !important;
}

button.stroke:hover,
.button.stroke:hover {
  border: 3px solid #F9A828;
  color: #F9A828;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}


/* 07. common and reusable styles */
.section-intro {
  text-align: center;
  position: relative;
  margin-bottom: 1.5rem;
}

.section-intro h1 {
  font-family: "montserrat-bold", serif;
  font-size: 4.8rem;
  line-height: 1.375;
  color: #151515;
}

.section-intro h3 {
  font-family: "montserrat-bold", sans-serif;
  font-size: 1.8 rem;
  line-height: 1.667;
  color: rgba(242, 242, 242, 0.5);
  text-transform: uppercase;
  letter-spacing: .3rem;
  margin-bottom: 1.2rem;
}

.section-intro .lead {
  font-family: "montserrat-regular", sans-serif;
  font-size: 1.8;
  line-height: 1.833;
}

.section-intro.with-bottom-sep {
  padding-bottom: 4.2rem;
  position: relative;
}

.section-intro.with-bottom-sep::after {
  display: inline-block;
  height: 1px;
  width: 200px;
  background-color: rgba(242, 242, 242, 0.1);
  text-align: center;
}


/* responsive: section-intro */
@media only screen and (max-width: 1024px) {
  .section-intro h1 {
    font-size: 4.4rem;
  }

  .section-intro .lead {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 768px) {
  .section-intro h1 {
    font-size: 4rem;
  }

  .section-intro h3 {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 600px) {
  .section-intro h1 {
    font-size: 3.4rem;
  }

  .section-intro h3 {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 500px) {
  .section-intro h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .section-intro h1 {
    font-size: 3.1rem;
  }
}

.wide {
  max-width: 1300px;
}

.narrow {
  max-width: 800px;
}

.js .animate-this,
.js .animate-intro {
  opacity: 0;
}

.oldie .animate-this,
.oldie .animate-intro .no-cssanimations .animate-this,
.no-cssanimations .animate-intro {
  opacity: 1;
}



/* 08. header styles */
header {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 700;
}

header .row {
  height: auto;
  max-width: 1300px;
  position: relative;
}


/* header logo */
header .header-logo {
  position: absolute;
  left: 32px;
  top: 42px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

header .header-logo a {
  display: block;
  margin: 0;
  padding: 0;
  width: 78px;
  height: 78px;
  background: url("../images/logo_new.png") no-repeat center;
  background-size: 78px 78px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .header-logo a:hover {
  display: block;
  margin: 0;
  padding: 0;
  width: 78px;
  height: 78px;
  background: url("../images/logo_new.png") no-repeat center;
  opacity: .2;
  background-size: 78px 78px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}




/* menu trigger */
#header-menu-trigger {
  display: block;
  position: fixed;
  right: 32px;
  top: 30px;
  height: 42px;
  width: 42px;
  line-height: 42px;
  font-family: "montserrat-regular", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#header-menu-trigger.opaque {
  background-color: #000000;
}

#header-menu-trigger.opaque .header-menu-text {
  background-color: #000000;
}

#header-menu-trigger:hover,
#header-menu-trigger:focus {
  color: #FFFFFF;
}

#header-menu-trigger .header-menu-text {
  display: block;
  position: absolute;
  top: 0;
  left: -75px;
  width: 75px;
  text-align: center;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#header-menu-trigger .header-menu-icon {
  display: block;
  height: 3px;
  width: 24px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  right: 9px;
  margin-top: -1.5px;
}

#header-menu-trigger .header-menu-icon::before,
#header-menu-trigger .header-menu-icon::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  left: 0;
}

#header-menu-trigger .header-menu-icon::before {
  top: -9px;
}

#header-menu-trigger .header-menu-icon::after {
  bottom: -9px;
}


/* off-canvas menu */
#menu-nav-wrap {
  background: #0C0C0C;
  color: rgba(255, 255, 255, 0.25);
  font-size: 1.5rem;
  line-height: 1.6;
  padding: 3.6rem 3rem;
  height: 100%;
  width: 240px;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  overflow-y: auto;
  z-index: 800;
  -webkit-transform: translateZ(0);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#menu-nav-wrap a,
#menu-nav-wrap a:visited {
  color: rgba(255, 255, 255, 0.5);
}

#menu-nav-wrap a:hover,
#menu-nav-wrap a:focus,
#menu-nav-wrap a:active {
  color: white;
}

#menu-nav-wrap h3 {
  color: white;
  font-family: "montserrat-regular", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

#menu-nav-wrap .nav-list {
  font-family: "montserrat-regular", sans-serif;
  margin: 3.6rem 0 1.5rem 0;
  padding: 0 0 1.8rem 0;
  list-style: none;
  line-height: 3.6rem;
}

#menu-nav-wrap .nav-list li {
  padding-left: 0;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.15);
  line-height: 4.2rem;
}

#menu-nav-wrap .nav-list li:first-child {
  border-top: 1px dotted rgba(255, 255, 255, 0.15);
}

#menu-nav-wrap .nav-list li a {
  color: rgba(255, 255, 255, 0.5);
  display: block;
}

#menu-nav-wrap .nav-list li a:hover,
#menu-nav-wrap .nav-list li a:focus {
  color: white;
}

#menu-nav-wrap .header-social-list {
  list-style: none;
  display: inline-block;
  margin: 0;
  font-size: 2.1rem;
}

#menu-nav-wrap .header-social-list li {
  margin-right: 12px;
  padding-left: 0;
  display: inline-block;
}

#menu-nav-wrap .header-social-list li a {
  color: rgba(255, 255, 255, 0.5);
}

#menu-nav-wrap .header-social-list li a:hover,
#menu-nav-wrap .header-social-list li a:focus {
  color: white;
}

#menu-nav-wrap .header-social-list li:last-child {
  margin: 0;
}

#menu-nav-wrap .close-button {
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 36px;
  right: 30px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

#menu-nav-wrap .close-button span::before,
#menu-nav-wrap .close-button span::after {
  content: "";
  display: block;
  height: 2px;
  width: 12px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 9px;
  margin-top: -1px;
}

#menu-nav-wrap .close-button span::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menu-nav-wrap .close-button span::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu-nav-wrap .sponsor-text {
  font-family: "librebaskerville-regular", serif;
  font-size: 1.4rem;
  line-height: 3rem;
}

#menu-nav-wrap .sponsor-text span {
  color: rgba(255, 255, 255, 0.5);
}


/* menu is open */
.menu-is-open #menu-nav-wrap {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
  -webkit-overflow-scrolling: touch;
}


/* responsive: header section */
@media only screen and (max-width: 768px) {
  header .header-logo a {
    width: 51px;
    height: 24px;
    background-size: 51px 24px;
  }
}

@media only screen and (max-width: 400px) {
  #header-menu-trigger .header-menu-text {
    display: none;
  }
}


/* 9. home */
#home {
  width: 100%;
  height: 100%;
  background-color: black;
  /*background-image: url('../images/city.jpg'); */
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: cover;
  min-height: 804px;
  position: relative;
}

#home .overlay {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 100%;
  height: 35%;
  opacity: .5;
  background-color: white;
  background-image: url('../images/nyc.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /*background-color: #19191b;*/
}

.home-content-table {
  width: 100%;
  height: 100%;
  display: table;
  position: relative;
  text-align: left;
}

.home-content-tablecell {
  display: table-cell;
  vertical-align: middle;
  z-index: 500;
}

.home-content-tablecell .row {
  position: relative;
  padding-top: 16.2rem;
  padding-bottom: 15rem;
}

.home-content-tablecell h3 {
  font-family: "montserrat-bold", sans-serif;
  font-size: 2.2rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: .3rem;
  margin: 0 0 .9rem 0;
}

.home-content-tablecell h1 {
  font-family: "montserrat-bold", serif;
  font-size: 7rem;
  line-height: 1.133;
  color: #FFFFFF;
  opacity: 0.8;
}

.home-content-tablecell h1.animated-link a {
  background-size: 0 100%;
  text-decoration: none;
  font-weight: 400;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
  background-repeat: no-repeat;
}

.home-content-tablecell h1.animated-link.highlight a {
  background-image: linear-gradient(0deg, transparent 0%, white 0);
  color: white;
}

.home-content-tablecell h1.animated-link a:hover {
  background-size: 100% 100%;
  color: black;
}



.home-content-tablecell .more {
  margin: 4.8rem 0 0 0;
}

.home-content-tablecell .more .button {
  border-color: #FFFFFF;
  color: #FFFFFF;
}

.home-content-tablecell .more .button:hover {
  border-color: orange;
  color: #FFFFFF;
}



.home-content-tablecell .animated-link {
  margin-top: 40px;
  margin-bottom: 20px;
  max-width: 850px;
}

.home-content-tablecell h3.animated-link a {
  font-size: 28px;
  line-height: 40px;
  background-image: linear-gradient(0deg, blue, red 65%, transparent 0);
  background-size: 0 100%;
  text-decoration: none;
  font-weight: 400;
  color: #111111;
  background-repeat: no-repeat;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.home-content-tablecell h3.animated-link.highlight a {
  background-image: linear-gradient(0deg, transparent 0%, orange 0);
}

.home-content-tablecell h3.animated-link a:hover {
  background-size: 100% 100%;
}


/* home social-list */
.home-social-list {
  position: absolute;
  left: 48px;
  bottom: 54px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 2.4rem;
  line-height: 1.75;
  text-align: center;
}

.home-social-list::before {
  display: block;
  content: "";
  width: 2px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}

.home-social-list li {
  padding-left: 0;
}

.home-social-list li a,
.home-social-list li a:visited {
  color: #FFFFFF;
}

.home-social-list li a:hover,
.home-social-list li a:focus,
.home-social-list li a:active {
  color: orange;
}



/* home social-list */
.about-social-list {
  position: absolute;
  left: 48px;
  bottom: 54px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 2.4rem;
  line-height: 1.75;
  text-align: center;
}

.about-social-list::before {
  display: block;
  content: "";
  width: 2px;
  height: 42px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}

.about-social-list li {
  padding-left: 0;
}

.about-social-list li a,
.about-social-list li a:visited {
  color: black;
}

.about-social-list li a:hover,
.about-social-list li a:focus,
.about-social-list li a:active {
  color: orange;
}



/* scroll down */
.scrolldown {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: right top 0;
  transform-origin: right top 0;
  float: right;
}

.scrolldown i {
  padding-left: 9px;
}

.scrolldown a:hover,
.scrolldown a:focus,
.scrolldown a:active {
  color: #151515 !important;
}

html[data-useragent*='MSIE 10.0'] .scrolldown,
.oldie .scrolldown {
  display: none;
}

.scroll-icon {
  display: inline-block;
  font-family: "montserrat-bold", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  color: #FFFFFF !important;
  background: transparent;
  position: relative;
  top: 36px;
  right: 42px;
  -webkit-animation: animate-it 3s ease infinite;
  animation: animate-it 3s ease infinite;
}


/* vertical animation */
@-webkit-keyframes animate-it {

  0%,
  60%,
  80%,
  100% {
    -webkit-transform: translateX(0);
  }

  20% {
    -webkit-transform: translateX(-5px);
  }

  40% {
    -webkit-transform: translateX(20px);
  }
}

@keyframes animate-it {

  0%,
  60%,
  80%,
  100% {
    -webkit-transform: translateX(0);
  }

  20% {
    -webkit-transform: translateX(-5px);
  }

  40% {
    -webkit-transform: translateX(20px);
  }
}


/* responsive: home section */
@media only screen and (max-width: 1200px) {
  .home-content-tablecell h3 {
    font-size: 2.1rem;
  }

  .home-content-tablecell h1 {
    font-size: 7rem;
  }
}

@media only screen and (max-width: 1024px) {
  .home-content-tablecell h3 {
    font-size: 2rem;
  }

  .home-content-tablecell h1 {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 768px) {
  .home-content-tablecell .row {
    max-width: 600px;
  }

  .home-content-tablecell h3 {
    font-size: 1.8rem;
  }

  .home-content-tablecell h1 {
    font-size: 5.2rem;
  }

  .home-content-tablecell h1 br {
    display: none;
  }

  .home-social-list {
    left: 36px;
    bottom: 30px;
    font-size: 2.1rem;
  }

  .home-social-list::before {
    height: 30px;
  }

  .scrolldown .scroll-icon {
    font-size: 1.2rem;
    top: 24px;
    right: 10px;
  }
}

@media only screen and (max-width: 600px) {
  #home {
    min-height: 702px;
  }

  .home-content-tablecell .row {
    max-width: 480px;
    padding-top: 12rem;
    padding-bottom: 12rem;
  }

  .home-content-tablecell h3 {
    font-size: 1.7rem;
  }

  .home-content-tablecell h1 {
    font-size: 4.8rem;
  }
}

@media only screen and (max-width: 500px) {
  .home-content-tablecell .row {
    max-width: 420px;
  }

  .home-content-tablecell h3 {
    font-size: 1.5rem;
  }

  .home-content-tablecell h1 {
    font-size: 4.2rem;
  }

  .home-social-list {
    left: 30px;
    bottom: 30px;
    font-size: 1.8rem;
  }

  .home-social-list::before {
    height: 24px;
  }
}

@media only screen and (max-width: 400px) {
  #home {
    min-height: 654px;
  }

  .home-content-tablecell .row {
    padding-top: 4.8rem;
    padding-bottom: 10.8rem;
  }

  .home-content-tablecell h3 {
    font-size: 1.4rem;
  }

  .home-content-tablecell h1 {
    font-size: 3.6rem;
  }
}


/* 10. about */
#about {
  position: relative;
  padding: 4.2rem 0 12rem;
  background-color: #FFFFFF;
  min-height: 770px;
  text-align: left;
  background-size: cover;
  min-height: 804px;
  width: 100%;
  height: 100%;
}

#about .about-wrap {
  max-width: 950px;
}

#about span {
  color: black;
}

#about h3 {
  font-family: "montserrat-bold", sans-serif;
  font-size: 2.8rem;
  line-height: 1.667;
  color: black;
  letter-spacing: .3rem;
  position: relative;
}

#about h3::before {
  display: block;
  content: "";
  width: 3px;
  height: 10rem;
  background-color: black;
  margin: 0 auto 0 0;
  text-align: left;
}

#about .lead {
  font-family: "montserrat-regular", serif;
  font-size: 2.1rem;
  line-height: 1.8;
  color: #2e383f;
  margin-top: 6rem;
}

#about .experience-author-new img {
  width: 9rem;
  height: 9rem;
  margin: 0 auto 0.7em auto;
  display: block;
  border-radius: 50%;
}

#about .experience-author-new::after {
  display: block;
  content: "";
  width: 10rem;
  height: 3px;
  background-color: black;
  margin: auto auto auto 100%;
}




/* Resume */
#resume {
  position: relative;
  padding: 4.2rem 0 12rem;
  background-color: black;
  min-height: 770px;
  text-align: left;
  height: 100%;
  width: 100%
}

#resume .overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url('../images/sydney.jpg');
  background-size: cover; 
}

#resume .resume-wrap {
  max-width: 1250px;
}

#resume span {
  color: #F9A828;
}

#resume h3 {
  font-family: "montserrat-bold", sans-serif;
  font-size: 2.8rem;
  line-height: 1.667;
  color: white;
  letter-spacing: .3rem;
  position: relative;
  padding: 0 0 0 6rem;
}

#resume h3::before {
  display: block;
  content: "";
  width: 3px;
  height: 10rem;
  background-color: white;
  margin: 0 0 1rem 85% ;
}

#resume p {
  font-family: "montserrat-regular", sans-serif;
  font-size: 2.1rem;
  line-height: 1.667; 
  color: white;
/*  letter-spacing: .3rem; */
  position: relative;
  padding: 0 0 0 6rem; 
}

#resume p:hover {
  color: orange;
}


/* Slideshow styles */

/* interactive slideshow container */
#resume .slideshow_box {
  max-width: 1250px;
  position: relative;
  margin: auto;
}

#resume .slides {
  display: none; /* hide the slides until needed */
  max-width: 1250px;
}

/* Next & previous buttons */
#resume .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px; 
  color: white;
  font-size: 40px; 
  transition: 1s ease;
  border-radius: -10px 0 0 -10px;
}

#resume .next {
  right: 0;
  border-radius: 0 -10px -10px 0;
}

#resume .prev:hover, .next:hover {
  color: orange;
  opacity: 0.5;
}


/* Displays page number on top right hand corner */
#resume .page_number {
  color: white;
  font-size: 14px;
  position: absolute;
  top: 0; 
  right: 0;
}

/* The dots/bullets/indicators */
#resume .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

#resume .dot_active, .dot:hover {
  background-color: orange;
}

/* Fading animation between slides */
#resume .slides .fade {
  animation-name: fade;
  animation-duration: 5s;
}


@keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}




/* JOURNAL */
#journal {
  position: relative;
  padding: 4.2rem 0 12rem;
  background-color: #FFFFFF;
  min-height: 770px;
  text-align: left;
}

#journal .journal-wrap {
  max-width: 1250px;
}

#journal span {
  color: #F9A828;
}

#journal h3 {
  font-family: "montserrat-bold", sans-serif;
  font-size: 2.8rem;
  line-height: 1.667;
  color: black;
  letter-spacing: .3rem;
  position: relative;
}

#journal h3::before {
  display: block;
  content: "";
  width: 3px;
  height: 10rem;
  background-color: black;
  margin: 0 auto 1rem;
  text-align: left;
}

#journal .lead {
  font-family: "montserrat-regular", serif;
  font-size: 2.1rem;
  line-height: 1.8;
  color: #2e383f;
  margin-top: 6rem;
}




/* teaching */
#teaching {
  position: relative;
  padding: 4.2rem 0 12rem;
  background-color: black;
  min-height: 770px;
  text-align: left;
  background-size: cover;
  min-height: 804px;
  width: 100%;
  height: 100%;
}

#teaching .about-wrap {
  max-width: 950px;
}

#teaching span {
  color: black;
}

#teaching h3 {
  font-family: "montserrat-bold", sans-serif;
  font-size: 2.8rem;
  line-height: 1.667;
  color: white;
  letter-spacing: .3rem;
  position: relative;
}

#teaching h3::before {
  display: block;
  content: "";
  width: 3px;
  height: 10rem;
  background-color: white;
  margin: 0 auto 0 0;
  text-align: left;
}

#teaching .lead {
  font-family: "montserrat-regular", serif;
  font-size: 2.1rem;
  line-height: 1.8;
  color: #2e383f;
  margin-top: 6rem;
}

#teaching .overlay {
  position: absolute;
  top: 30%;
  left: 0%;
  width: 25%;
  height: 30%;
  opacity: 0;
  background-image: url('../images/sydney.jpg');
  background-size: cover; 
}



/* 15. footer */
footer {
  margin: 0;
  padding: 0;
  padding-left: 9rem;
  font-size: 1.5rem;
  color: white;
}

footer a,
footer a:visited {
  /*color: #FFFFFF; */

}

footer a:hover,
footer a:focus {
  /*color: #F9A828; */
}

footer .row {
  max-width: 1024px;
}

footer h4.h05 {
  color: #FFFFFF;
  position: relative;
  padding-bottom: 4.2rem;
  margin-bottom: 3.6rem;
}

footer h4.h05::after {
  display: block;
  content: "";
  width: 100px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  bottom: 0;
  left: 0;
}

footer .footer-logo {
  position: relative;
  width: 61px;
  height: 61px;
  background: url("../images/logo_new.jpg") no-repeat center;
  background-size: 61px 61px;
  opacity: .2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}


/* footer main */
.footer-main {
  padding-top: 9.6rem;
  padding-bottom: .5rem;
}

.footer-main ul {
  font-size: 1.5rem;
  margin-left: 0;
}

.footer-main ul li {
  list-style: none;
  padding-left: 0;
}

.footer-main ul a,
.footer-main ul a:visited {
  color: rgba(255, 255, 255, 0.4);
}

.footer-main ul a:hover,
.footer-main ul a:focus {
  color: #FFFFFF;
}

.footer-main {
  position: relative;
}

.footer-main .pdf-download:hover {
  -webkit-filter: brightness(190%);
          filter: brightness(190%); 
}

/* footer bottom */
.footer-bottom {
  margin-top: 3rem;
  text-align: center;
  font-family: "montserrat-regular", sans-serif;
  font-size: 1.4rem;
}

.footer-bottom .copyright div {
  display: block;
}

.footer-bottom .copyright div::after {
  content: "|";
  display: inline-block;
  margin: 5.7rem 0 1rem 0;
  padding: 0 1rem 0 1.2rem;
  color: rgba(255, 255, 255, 0.1);
}

.footer-bottom .copyright div:last-child::after {
  display: none;
}

#go-top {
  position: fixed;
  bottom: 42px;
  right: 30px;
  z-index: 700;
  display: none;
}

#go-top a {
  text-decoration: none;
  border: 0 none;
  display: block;
  height: 63px;
  width: 60px;
  line-height: 63px;
  text-align: center;
  background-color: #000000;
  color: #888;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#go-top a i {
  font-size: 1.7rem;
  line-height: inherit;
}

#go-top a:visited {
  background: #000000;
  color: #888;
}

#go-top a:hover,
#go-top a:focus {
  background: #000000;
  color: #FFFFFF;
}


/* responsive: footer */
@media only screen and (max-width: 768px) {
  #go-top {
    bottom: 0;
    right: 0;
  }

  .footer-main {
    text-align: center;
  }

  .footer-main .row {
    max-width: 480px;
  }

  .footer-main [class*="col-"] {
    margin-bottom: 3.6rem;

  }

  footer .footer-logo {
    display: none;
  }

  footer {
    padding-left: 0;
  }

  footer h4.h05 {
    padding-bottom: 3rem;
    margin: 0;
    margin-bottom: 3rem;
  }

  footer h4.h05::after {
    left: 50%;
    margin-left: -50px;
  }
}

@media only screen and (max-width: 1400px) and (orientation: portrait) { 
  footer .footer-logo {
    display: none;
    padding: 0;
  }
  .footer-main .blocks {
    width: 220px;
    display: inline-block;
  }
}

@media only screen and (min-width: 769px) {

  .footer-main .pdf-download {
    position: relative;
    top: 1.3rem;
    left: 3.7rem;  
  }
}

@media only screen and (max-width: 600px) {
  .footer-bottom {
    padding-bottom: .6rem;
  }

  .footer-bottom .copyright div {
    display: block;
  }

  .footer-bottom .copyright div::after {
    display: none;
  }
}