
body {
    margin: 30px auto;
    width: 95%;
    background-color: #ffffff;
}

nav ul {
    font-family: 'Lato Light', sans-serif;
    padding: 0px;
    margin: 0px;
    list-style: none;
	font-size: 0.9em;
    width: 60px;
    font-weight: lighter;
}

nav ul li {
    display: inline;
    margin-right: 0px;
}


footer ul {
    font-family: 'Lato Light', sans-serif;
    padding: 0px;
    margin: 0px;
    list-style: none;
    width: 600px;
    font-weight: lighter;
}

footer ul li {
    display: inline;
    margin-right: 0px;
}


a {
    text-decoration: none;
    color: #000000;
    font-family: 'Lato Light', sans-serif;
}

a:hover {
    background-color: #000000;
    color: white;
}

h1 {
    font-size: 1.3em;
    font-family:'Lato', sans-serif;
    margin: 3px 150px 20px;
}


h2 {
    font-size: 1.3em;
    font-family:'Lato', sans-serif;
    margin: 3px 50px 20px;
    color: #000000;
}

h3 {
    font-size: 1.3em;
    font-family:'Lato', sans-serif;
	margin: 3px 150px 20px;
}

p4 {
    font-size: 0.8em;
	font-weight: lighter;
    font-family:'Lato Light', sans-serif;
}


p {
    font-size: 0.9em;
    font-family: 'Raleway', serif;
    font-weight: lighter;
    line-height: 1.2em;
	border-left: 1px solid black;
	padding-left: 20px;
    color: black;
    margin: 0px 150px 10px;
}

footer {
    border-top: 1px solid black;
    font-size: .8em;
    background-color: white;
}


ul.posts { 
    margin: 20px auto 40px; 
    font-size: 0.9em;
    font-family: 'Open Sans', serif;
}

ul.posts li {
    list-style: none;
    font-family: 'Open Sans', serif;
}


.imageBox {
  position: relative;
  float: left;
}

.imageBox .hoverImg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.imageBox:hover .hoverImg {
  display: block;
}

