<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link href="https://fonts.googleapis.com/css?family=Open+Sans|Barlow|Karla|Lato:700|Roboto|" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% seo %}
			
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126614474-1"></script>
			<script>
  				window.dataLayer = window.dataLayer || [];
  				function gtag(){dataLayer.push(arguments);}
  				gtag('js', new Date());

  				gtag('config', 'UA-126614474-1');
			</script>

		</head>
		<body>
			<img src="https://weiwangchun.github.io/_layouts/logo_2.PNG" style="width:50px;height:50px;">
			<h3> WANG CHUN WEI, PhD, CFA</h3> 
			
			<nav>
	    		<ul>
				<li><a href="/">Home</a></li>
		        	<li><a href="/about">Research</a></li>
	        		<li><a href="/cv/index.html">Résumé</a></li>
				<li><a href="/contact/index.html">Contact</a></li>
				<li><a href="/teaching">Subjects</a></li>
	        		<li><a href="/blog">Notes</a></li>
				<li><a href="/links">Links</a></li>
	    		</ul>
			</nav>
			
			
			
			<div class="container">
			
				
				
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    			<ul>
	        			<li><a href="mailto:weiwangchun@gmail.com">email</a></li>
					<li><a href="https://www.business.uq.edu.au/staff/wang-chun-wei">UQ profile</a></li>
					<li><a href="https://www.linkedin.com/in/wang-chun-wei-phd-cfa-99a43a98/">LinkedIn</a></li>
					<li><a href="https://scholar.google.com.au/citations?user=3tzF4zgAAAAJ&hl=fr">Google-Scholar</a></li>
				</ul>
			</footer>
		</body>
	</html>
