<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Lato:700|Roboto|Merriweather" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" href="/logo_2.ico">
			{% seo %}
			
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126614474-1"></script>
			<script>
  				window.dataLayer = window.dataLayer || [];
  				function gtag(){dataLayer.push(arguments);}
  				gtag('js', new Date());

  				gtag('config', 'UA-126614474-1');
			</script>

		</head>
		<body>
			<div class="imageBox">
				<div class="imageInn">
					<img src="https://weiwangchun.github.io/logo_2.PNG" style="width:88px;height:88px;">
				</div>
				<div class="hoverImg">
					<img src="https://weiwangchun.github.io/logo_1.PNG" style="width:88px;height:88px;">
				</div>
			</div>

			<h3> Wang Chun Wei, PhD, CFA</h3>
			
			<nav>
	    		<ul>
					<li><a href="/">Home</a></li>
		        	<li><a href="/about">Research</a></li>
	        		<li><a href="/cv/index.html">Resume</a></li>
					<li><a href="/contact/index.html">Contact</a></li>
					<li><a href="/teaching">Subjects</a></li>
	        		<li><a href="/blog">Blog</a></li>
					<li><a href="/links">Links</a></li>
	    		</ul>
			</nav>
			
			<div class="imageBanner">
					<img src="https://weiwangchun.github.io/alps.JPG" width="330" height="110">
			</div>
			
			
			<div class="container">
			
					
			{{ content }}
			
			</div><!-- /.container -->
			
			<br>
			
			<footer>
	    		<ul>
	        		<li><a href="mailto:w.wei@business.uq.edu.au"> Email | </a></li>
					<li><a href="https://www.business.uq.edu.au/staff/wang-chun-wei"> Profile |</a></li>
					<li><a href="https://www.linkedin.com/in/wang-chun-wei-phd-cfa-99a43a98/"> LinkedIn |</a></li>
					<li><a href="https://papers.ssrn.com/sol3/cf_dev/AbsByAuth.cfm?per_id=1886430"> SSRN |</a></li>
					<li><a href="https://scholar.google.com.au/citations?user=3tzF4zgAAAAJ"> Google Scholar |</a></li>
					<li><a href="https://twitter.com/wwc109"> Twitter</a></li>
				</ul>
			</footer>
			
			<!--<br>
			<p class = "smaller"> Wang Chun Wei, PhD, CFA <br />
				UQ Business School <br />
				University of Queensland, Australia
			</p> -->
			
		</body>
	</html>
