<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link href="https://fonts.googleapis.com/css?family=Barlow|Carrois+Gothic+SC|Lato:700|Roboto" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% seo %}
		</head>
		<body>
			<!-- <img src="../wwc.jpg", align="right", width ="30%"> -->
			
			<nav>
	    		<ul>
				<li><h3> WANG CHUN WEI, PHD, CFA</h3> </li>
				<li><a href="/">Home</a></li>
		        	<li><a href="/about">Research</a></li>
	        		<li><a href="/cv/index.html">Résumé</a></li>
				<li><a href="/contact/index.html">Contact</a></li>
				<li><a href="/teaching">Subjects</a></li>
	        		<li><a href="/blog">Notes</a></li>
	    		</ul>
			</nav>
			
			
			
			<div class="container">
			
				
				
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:weiwangchun@gmail.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
